// Для фиксации скрола нужно добавить overflow:hidden в body или html


.overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(00,00,00, .2);
    z-index: 1000;


    .modal {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 400px;
        width: 356px;
        padding: 0 30px;
        background: $white;

        .modalClose {
            position: absolute;
            top: 10px;
            right: 13px;
            cursor: pointer;

            .modalCloseBtn {
                position: relative;
                height: 25px;
                width: 20px;

                &::before {
                    position: absolute;
                    content: '';
                    border-width: 0 0 2px 0;
                    border-style: solid;
                    color: $gray;
                    padding: 8px;
                    transform: rotate(315deg);
                    right: 7px;
                }

                &::after {
                    position: absolute;
                    content: '';
                    border-width: 0 0 2px 0;
                    border-style: solid;
                    color: $gray;
                    padding: 8px;
                    transform: rotate(-315deg);
                    right: -4px;
                }
            }
        }
    
        p {
            color: $gray;
            font-size: 32px;
            font-weight: 700;
        }
    
        form {
            
            margin-bottom: 4px;
            
            input {
                border: 1px $search solid;
                border-radius: 4px;
                padding: 20px;
                width: 100%;
                color: #999;
                font-size: 14px;
                font-weight: 400;
            }
        }
    
        a {
            color: $blue;
            font-size: 13px;
            font-weight: 400;
        }
    
        .modalEnter {
            display: flex;
            flex-direction: column;
            align-items: center;   
    
            button {
                color: $white;
                background: $blue;
                font-size: 16px;
                font-weight: 700;
                padding: 20px;
                border-radius: 4px;
                width: 100%;
                margin-bottom: 15px;
            }
    
            a {
                border-bottom: 1px solid $blue;
                padding-bottom: 2px;
            }
        }
    }
}