body {
    font-family: 'Gotham Pro', sans-serif;
}

// section {
//     height: 100vh;
// }

.container {
    margin: 0 auto;
    width: 90%;
    // height: 100%;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    // text-transform: uppercase;
}

h1 {
    font-size: 65px;
    font-weight: 300;

    @include tablets {
        font-size: 60px;
      }

      @include phones {
        font-size: 45px;
    }
}

h2 {
    font-size: 42px;
    font-weight: 700;

    @include tablets {
        font-size: 36px;
      }

      @include phones {
        font-size: 28px;
    }
}

h3 {
    font-size: 24px;
    font-weight: 700;

    @include tablets {
        font-size: 18px;
      }

      @include phones {
        font-size: 16px;
    }
}