.edgeProducts {
    background: $background;

    .mainProducts {
        display: flex;
        height: 356px;
        margin: 0 190px;
        gap: 30px;

        .productsBrush {
            flex: 1;
            background: url(./assets/images/brush.png) no-repeat;
            background-position: center;
            background-size: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 40px 0 40px 40px;

            p {
                color: $white;
                font-size: 30px;
                font-weight: 700;
                width: 130px;
            }

            a {
                color: $white;
                font-size: 16px;
                font-weight: 700;
                border-bottom: 2px solid $white;
                padding-bottom: 5px;
                text-transform: uppercase;
            }
        }

        .productsSales {
            display: flex;
            flex: 1 1 calc((100% / 3) + 50px);
            background: url(./assets/images/marketing.png);
            background-position: center;

            .productsSalesMonth {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                padding: 40px 0 40px 40px;

                span {
                    color: $white;
                    font-size: 20px;
                    font-weight: 400;
                }

                p {
                    color: $white;
                    font-size: 30px;
                    font-weight: 700;
                    width: 200px;
                }

                a {
                    color: $white;
                    font-size: 16px;
                    font-weight: 700;
                    border-bottom: 2px solid $white;
                    padding-bottom: 5px;
                    text-transform: uppercase;
                }
            }

            .productsSalesPrice{
                display: flex;
                justify-content: right;
                flex: 1;
                padding: 40px 40px 0 0;

                p {
                    color: $white;
                    font-style: 15px;
                    font-weight: 400;
                    padding: 15px;
                    background: $red;
                }
            }
        }
    }
}
